/*
table,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}

*/

.workout-container{
    padding: 40px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(234, 237, 243));
}

.workout {
    width: 100%;
    padding-top: 20%; /*aspect ratio*/
    padding-bottom: 20%; /*aspect ratio*/
}
