.menuBtn {
    position: fixed; /* Fixed/sticky position */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 25px; /* Rounded corners */
    padding: 5px;
    font-size: 25px; /* Increase font size */
    bottom: 20px; /* Place the button at the bottom of the page */
    background-color: red; /* Set a background color */
    height: 50px;
    width: 50px;

  }
  
.menuBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.profile { 
    border-radius: 25px; /* Rounded corners */
}


.profile-container{
  padding: 40px;
  background-image: linear-gradient( rgb(255, 255, 255), rgb(234, 237, 243));
}

.bg-brown{
  background-color: rgb(173, 123, 46);
}
.bg-silver {
  background-color: rgb(173, 173, 173);
}
.bg-gold {
  background-color: gold;
}

.bg-platinum {
  background-color: rgb(188, 199, 197);
  color: black;
}